@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

body {
  background-image: url('https://i.imgur.com/2iRGu14.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}

.version {
  position: fixed;
  bottom: 16px;
  left: 16px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  pointer-events: none;
  z-index: 1000;
}